@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    /* ## Colors

### Primary */

    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /* ### Neutral */

    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /* ### Gradients */

    --Linear-135deg-from: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --Linear-135deg-from: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 16px
}

nav {
    grid-row: 1 / 2;
    grid-column: 1/2;
}

.picture {
    grid-row: 1 / 4;
    grid-column: 2/4;
}
.content{
    grid-row: 2 / 4;
    grid-column: 1/2;

}
/* 
.text-section {
    grid-row: 2 / 3;
    grid-column: 1/2;
}

.form {
    grid-row: 3 / 4;
    grid-column: 1/2;

} */


main {
    /* border: 2px solid rgb(0, 0, 0); */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: space-between; 
    justify-items: end;
}

.logo {

    /* width: 10rem; */
    /* margin-top: 4rem; */
    /* margin-left: 10.25rem; */
    /* margin-bottom: 8.25rem; */
    /* border: 2px solid rgb(204, 255, 0); */
}

.text-section {
    margin-left: 10.25rem;
    display:    flex;
    flex-direction: column;

}

.heading {
    /* border: 2px solid cyan; */
    width: 22.5rem;
    font-size: 3.7rem;
    letter-spacing: 1.2rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading:before {
    color: hsl(0, 93%, 68%);
    content: "We're ";
    font-weight: 300;
}

.sub-heading {
    /* border: 2px solid rebeccapurple; */
    width: 26.75rem;
    color: var(--desaturated_red);
    line-height: 1.6rem;
}


.form {
    max-width: 26.75rem;
    margin-top: 2em;
    /* display: inline-block; */
    /* border: 2px solid red; */
    margin-left: 10.25rem;
}

input[type="email"] {
    width: 100%;
    /* max-width: 100%; */
    height: 3.4375rem;
    border-radius: 26px;
    margin-top: 3.1875rem;
   
    border:2px solid   hsl(0, 36%, 70%);
    border-image: none;
    padding-left: 2rem;
}

input[type="email"]::placeholder {
    color: var(--desaturated_red);
    font-size: 15px;
}

input[type="email"]:focus {
    border:2px solid   hsl(0, 93%, 68%);
    border-image: none;
    outline: none;
}

.btn{
    width: 6.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    height: 3.4375rem;
    border-radius: 26px;
    border: none;

    position: relative;
    left: 343px;
    top: -55px;

    box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
}

.btn:hover {
    background-image: linear-gradient( hsl(0, 100%, 90%), hsl(0, 71%, 63%)); 
}



.error-image {
    position: relative;
    top:-95px;
    right: -315px;

}

.error-msg {
    color: var(--soft_red);
    font-size: 14px;
    position: relative;
    top:-60px;
    right: -1px;
}
.the-error-occured{
 visibility: hidden;
}

@media only screen and (max-width :861px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
    }

    nav {
        grid-row: 1 / 2;
        grid-column: 1/2;
    }
    .picture {
        grid-row: 2 /3 ;
        grid-column: 1/2;

    }
    .content{
        grid-row: 3 /4 ;
        grid-column: 1/2;
    }
    /* .text-section {
        grid-row: 3 / 4;
        grid-column: 1/2;
    }
    
    .form {
        grid-row: 4 / 5;
        grid-column: 1/2;
    
    } */
    main {
        display: grid;
        justify-content: space-around;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto ;
        gap: 10px;
        justify-items: stretch;
        width: 100vw;
    }
    .image-of-women{
        content:url("/images/hero-mobile.jpg");
        max-width: 100%;
    }
    .text-section {
        margin-left: 0;
        width: 22.5rem;
        max-width:100% ;
    }
    .heading{
        width: inherit;
    }
    .sub-heading{
        width: inherit;
    }
    .form {
        max-width: 25.5rem;
        margin-left: 0;
    }
    input[type="email"] {
        width:100%;
    }
    .btn{
        position: relative;
        left: 280px;
        top: -55px;
    }
    .error-image {
        position: relative;
        top:-95px;
        right: -228px;
    }
}    